/* Customize default settings provided by the library */

.conditions-wrapper .slick-slider {
  display: flex;
  align-items: center;
  background-color: #f1f4f8;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.conditions-wrapper .slick-track {
  display: flex;
  gap: 0.8rem;
}

.service-slide {
  display: flex !important;
  flex-direction: column;
  color: white;
  border-radius: 30px;
  overflow: auto;
  height: auto;
}

.service-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1rem;
  padding-bottom: 2rem;
  height: 200px;
}

.conditions-wrapper .slick-dots {
  bottom: 10px;
}

.slick-dots li.slick-active button:before {
  color: #1341a3;
}

.slick-dots li button:before {
  font-size: 1rem;
  color: #1341a3;
}

.conditions-wrapper .slick-prev {
  display: flex !important;
  align-items: center;
}

.conditions-wrapper .slick-prev:before {
  width: 50px;
  height: 450px;
  border-radius: 0px;
  background-color: white !important;
  background-image: url("../../assets/left-chevron-black.png");
  left: -38px !important;
}

.conditions-wrapper .slick-next {
  display: flex !important;
  align-items: center;
}

.conditions-wrapper .slick-next:before {
  width: 50px;
  height: 450px;
  border-radius: 0px;
  background-color: white !important;
  background-image: url("../../assets/right-chevron-black.png");
  right: -42px !important;
}

.service-content h3 {
  font-weight: 1000;
  font-size: 1.8rem;
  margin-bottom: 0;
}

.service-content h7 {
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

.service-content p {
  font-size: 1rem;
}

@media screen and (min-width: 728px) {
  .conditions-wrapper .slick-prev:before {
    left: -50px !important;
  }

  .conditions-wrapper .slick-next:before {
    right: -50px !important;
  }
}

@media screen and (min-width: 992px) {
  .service-content h3 {
    font-size: 1.8rem;
  }

  .service-content h7 {
    font-size: 1.2rem;
  }

  .conditions-wrapper .slick-prev:before {
    left: -55px !important;
  }

  .conditions-wrapper .slick-next:before {
    right: -57px !important;
  }
}
