@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

.wrapper {
  display: flex !important;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  position: relative;
}

.image-wrapper {
  width: 100px;
  height: 100px;
  background-color: #8ad7f5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-img {
  width: 65px;
  height: 65px;
  object-fit: contain;
}

.img-title {
  font-weight: 700;
  color: #1341a3;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slick-prev:before {
  background-color: #1341a3 !important;
  color: white !important;
  width: 40px;
  height: 40px;
  content: "" !important;
  position: absolute;
  opacity: 1;
  left: -15px;
  background-image: url("../../assets/left-chevron.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.slick-next:before {
  background-color: #1341a3 !important;
  color: white !important;
  width: 40px;
  height: 40px;
  content: "" !important;
  position: absolute;
  opacity: 1;
  right: -15px;
  background-image: url("../../assets/right-chevron.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}
