.symptom-check {
  font-family: "Nunito Sans";
  position: fixed;
  top: 0;
  padding: 3px;
  width: 100%;
  background: #1341a3;
  color: #fff;
  font-weight: 700;
  z-index: 999;
  min-height: 31px;
  text-align: center;
}

.symptom-check-arrow {
  margin-left: 0.5rem;
  position: fixed;
  top: 0;
  color: #fff;
  min-height: 31px;
}
