.banner-container {
  background-color: #e4e8f1;
  background-image: url("../../assets/Banner-min-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  color: #10327a;
  display: flex;
  flex-direction: column;
  height: 135vh;
}

.content-left {
  padding: 1rem;
}

.cta-buttons {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  text-align: center;
}

.cta-buttons-primary {
  width: 100%;
}

.banner-text-size {
  font-weight: 800;
  font-size: 3rem;
}

.sub-text-size {
  font-size: 3rem;
  font-weight: 300;
  padding-bottom: 1rem;
}

.banner-text {
  margin-bottom: 2.5rem;
  color: black;
}

.banner-arrow {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.cta-content {
  color: white;
}

.consult-btn:hover {
  background-color: #e4e8f1;
  color: #10327a;
}

.sub-btn {
  background-color: #e4e8f1;
  color: #1341a3;
}

.cta-query {
  display: inline-flex;
  border-radius: 3px;
  padding: 10px;
  font-size: 1.1rem;
  background-color: #e6f4ea;
  color: #29a84d;
}

.user-rating {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: gray;
  margin-top: 2rem;
}

.user-rating-text {
  margin-top: 0.5rem;
  text-align: center;
}

.border-right{
  border-right: none;
}

.user-rating-span {
  letter-spacing: 4px;
}

.banner-image {
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 992px) {
  .banner-container {
    padding-left: 2rem;
    padding-right: 2rem;
    flex-direction: column;
    background-position: center;
    height: 100vh;
  }

  .content-left {
    margin-left: 4rem;
  }
  .banner-text-size {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1;
  }

  .banner-text {
    font-size: 1.2rem;
    width: 50%;

  }

  .cta-buttons-primary {
    display: flex;
    gap: 1rem;
    align-items: center;

  }


.cta-buttons {
  text-align: left;
}

  .user-rating {
    flex-direction: row;
    text-align: left;

  }

  .border-right{
    border-right: 2px solid #8C8C8C;
    margin-left: 1rem;
    margin-right: 1rem;
  }

}
